    body {
      background: #dadaff; /*use dacaff for light and 202020 for dark*/
    }
    a {
      display: inline;
      visibility: visible;
      font-size: 1rem;
      text-decoration: none;
    }
    #score_counter {
      display: block;
      text-align: center;
      font-weight: normal;
      font-size: 25px;
    }
    #button_main {
      display: block;
      margin: auto;
      width: 60%;
      aspect-ratio: 5/1;
      background: #f00;
      border: solid #000 2px;
      border-radius: 10px;
      color: #dfefff;
      font-size: 3rem;
    }
    #button_main:hover {
      background: #df0000;
    }
    .vsac_button_class{
      display: inline;
      float: left;/*need to make elements here align with the txt class. also, clear?*/
      border: solid #000 1px;
      background: #0f0;
      color: #000;
      margin: 0px 5px;
    }
    .vsac_txt_class {
      display: block;
    }
    .vsac_hidden_class {
      visibility: hidden !important;
    }
    .vsac_mod_hidden_class {
      visibility: hidden !important;
    }
    #div_meme {
      display: block;
      visibility: hidden;
    }